@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Document */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Spartan", sans-serif;
  } */
body
{
	padding: 0;
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	line-height: 20px;
	margin: auto;
	width: auto;
	align-items: center;
	justify-content: center;
}
.clear
{
	clear: both;
}
.khung
{
	width: 100%;
	margin: auto;
	
	
}
.khungfull
{
	width: 100%;
}
/* .logo
{
	width: 140px;
	height: 40px;
	float: left;
	margin: 15px;
} */

/* .topnegav
{
	position:inherit;
	top:50%;
	left: 50%;

	float: left;
	margin-left: 100px;
	margin-top: 12px;
}
.topnegav input
{
	border: 3px solid #F29EB0;
	width: 300px;
	border-radius: 50px;
	padding: 0px 10px;
	height: 30px;
} */
/* .search
{
position: absolute;
margin-left: 420px;
top: 16px;
color: #F29EB0;
} */
.thanhbar
{
	padding: 0 20px 30px 15px;
	font-size: 35px;
	color: #F29EB0;
	float: left;
	margin-left: 450px;
	margin-top: 2px;

}
.line
{
	width: 100%;
	height: 2px;
	background-color: #070707;
	margin-top: -15px;
}
.slogan
{
	width: 825px;
	height: 105px;
	margin: 15px;
	margin-top: -20px;
}
.slogan ul
{
	list-style:none;
	float: right;
}
.slogan ul li
{
	float: left;
}
.slogan ul li a
{
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
	color: #000000;
}
.slogan ul li a:hover
{
	background-color: #EBAF83;
	color: #000000;
}
.slider img
{
	width: 100%;
	margin-top: -50px;
}
/* .welcome img
{
	margin-top: -100px;
	margin-left: 34%;

} */
.title 
{
	text-align: center;
	margin-bottom: 30px auto;
}
.title h1
{
	text-transform: capitalize;
	font-size: 40px;
	letter-spacing: 2px;
	margin: 20px;
	margin-top: 30px;
}
.than .title h1
{
	margin-top: 150px;
}

/* .welcome_content p
{
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 15px;
	text-align: center;
	margin-top: -120px;
	margin-left: 10px;
} */
.banhngot_item
{
	width: 255px;
	float:left;
	text-align: center;
	margin: 15px;
	margin-top: -15px;
	position: relative;
	box-shadow: 20px 20px 30px rgba(0.04, 0.04, 0.04, 0.04);
	box-sizing: border-box; 

}


.banhngot_item:hover{
	box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
}
.banhngot_icon
{
   margin-top: 100px;
}
.banhngot .title h1
{
	text-align: center;
	margin-top: 150px;
	margin-bottom: 60px;

}
.banhngot_container {
    display: flex;
	margin-left: 10%;
    margin-right: 10%;
	justify-content: space-between;
}

.banhngot_item h3
{
	font-size: 25px;
	text-transform: capitalize;
	color: #FF31BC;
	margin: 15px;
}
.banhngot_item p
{
	font-size: 16px;
	text-transform: capitalize;
	color: #0F0000;
	margin: 15px;
	line-height: 20px;
}

/* .deliver{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}
.deliver_item:hover{
	box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
}
.deliver_item  
{
	width: 15%;
	border: 5px solid #FBB5BF;
    border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	height: 300px;
	padding: 22px 33px 55px;
	margin-top: 30px;
	
	
}
.deliver_icon2
{
	margin-left: 20px;
	
}
.deliver_icon3
{
	margin-left: -10px;
}
.deliver_content
{
	width: 100%;
	margin: 10% 15% 25px;
	float: left;
	margin: auto;
	text-align: center;
}
.deliver_content h3
{
	font-size: 18px;
	color: #000000;
	margin-bottom: 2px;
	text-align: center;
	
}
.deliver_content p
{
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	width: 120px;
	text-align: center;
	margin-left: 10%;
}
.deliver_content button
{
	padding: 2px 10px;
	text-transform: uppercase;
	margin:  5px 0 20px;
	border-radius: 10px;
	font-weight: bold;
	background: #FF3B9E;
	border: 2px solid #FFF6F6 #000000;
	
} */
.story
{
	width: 80%;
	border: 5px solid #FBB5BF;
	padding: 30px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
	height: 260px;
	margin-top: 200px;
	margin-left: -5px;
	float: left
}
.story img
{
	margin-top: -120px;
	margin-left: 100px;
	float: left;
}

.story h1
{
	font-size: 25px;
	text-transform: capitalize;
	color: #FF31BC;
	margin: 15px;
	text-align: center;
}
.story p
{
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-left: 22px;
}
.hinh
{
	width: 60%;
	margin-top: 150px;
	margin-left: 300px;
}
.bg_signup
{
	width: 100%;
	background: #E06999;
	float: left;
	height: 100px;
}
.sign_up_title
{
	width: 445px;
	margin: 15px;
	float: left;
}
.form_signup
{
	width: 630px;
	margin: 15px;
	float: left;
}
.sign_up_title h3
{
	font-size: 24px;
	color:aliceblue;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 22px;
}
.form_input
{
	width: 440px;
	float: left;
	margin-top: 22px;
}
.form_button
{
	width: 100px;
	float: left;
	margin-top: 23px;
	margin-left: -5px;
}
.form_input input[type=email]
{
	width: 100%;
	height: 40px;
	border: 1px solid #000000;
	padding-left: 10px;
	font-size: 12px;
	color: aqua;
	text-transform: inherit;
}
.form_button button
{
	width: 100%;
	height: 40px;
	border: none;
	background-color:#867777;
	font-size: 12px;
	color: #000000;
	letter-spacing: 2px;
	font-weight: bold;
	margin-left:15px;
}
.footer_area {
  background: #303339;
  overflow: hidden;
  width: 100%;
}

.footer_widgets {
  padding: 80px 0px 50px 0px;
}

.footer_widgets .footer_wd_inner .col-lg-3:nth-child(2) .f_link_widget {
  padding-left:35px;
  float: left;
}

.f_title 
{
  margin-bottom: 20px;
}

.f_title h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.f_title h3:before 
{
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f195b2;
}

.f_about_widget p {
  font-size: 14px;
  line-height: 23px;
  font-family: "Open Sans", sans-serif;
  color: #a8a8a8;
  letter-spacing: .28px;
  margin-top: 20px;
  margin-bottom: 0px;
 margin-left: 100px;
}

.f_about_widget .nav {
  margin-top: 35px;
}

.f_about_widget .nav li {
  display: inline-block;
  margin-right: 10px;
}

.f_about_widget .nav li a {
  display: inline-block;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #7b7b7c;
  font-size: 16.92px;
  line-height: 35px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.f_about_widget .nav li:hover a {
  color: #f195b2;
  border-color: #f195b2;
}

.f_about_widget .nav li:last-child {
  margin-right: 0px;
}

.f_link_widget .list_style li {
  margin-bottom: 10px;
}

.f_link_widget .list_style li a {
  font-size: 14px;
  color: #a8a8a8;
  letter-spacing: .28px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.f_link_widget .list_style li:hover a {
  color: #f195b2;
}

.f_contact_widget h4 {
  font-size: 18px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.f_contact_widget p {
  font-size: 14px;
  line-height: 26px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

.f_contact_widget h5 {
  font-size: 14px;
  line-height: 26px;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
}

.footer_copyright .copyright_inner {
  overflow: hidden;
  border-top: 1px solid #3b3e43;
  padding: 32px 0px 30px 0px;
}

.footer_copyright .copyright_inner .float-left h5 {
  font-size: 14px;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0px;
  float: left;
}

.footer_copyright .copyright_inner .float-right a {
  color: #f195b2;
  font-family: "Open Sans", sans-serif;
}
.footer_wd_inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col-lg-3 {
	flex-basis: 23%; 
}
.f_about_widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
   
}

.f_about_widget p {
	width: 80%; 
	margin-top: 0; 
}

.Signup.bg_signup {
	width: 100%; 
	margin: auto;
}

.hinh img{
	width: 100%;
}

.khung, .khungfull {
    max-width: 100%; /* Đặt chiều rộng tối đa là 100% của viewport */
    margin: 0 auto; /* Canh giữa trang */
}

.slide-show{
	max-width: 100%;
	max-height: 100%x;
	overflow: hidden;
	
	
}

.list-images{
	display: flex;
	transition: 0.5s;
}
.list-images img {
	min-width: 100%;
    min-height: auto; /
  }
/* demo */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Spartan", sans-serif;
  }

:root {
	--color-text: #222;
	--color-text2: #465b52;
	--color-text3: #1a1a1a;
	--color-hover-a: #088178;	
	--color-border: #cce7d0;
	--background-color-header: #e3e6f3;
	--background-color-h6: #fddde4;
  }

#header 
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: var(--background-color-header);
	box-shadow: rgba(5, 5, 5, 0.2) 0 5px 15px;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}
.logo
{
	width: 140px;
	height: 40px;
	float: left;
	margin: 15px;
}
#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	padding: 0 20px;
	position: relative;
  }
  
  #navbar li a {
	font-size: 16px;
	font-weight: 600;
	padding: 12px;
	color: var(--color-text3);
	transition: 0.3s ease;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
	color: var(--color-hover-a);
  }
  
  #navbar li a.active::after,
  #navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 3px;
	background: var(--color-hover-a);
	position: absolute;
	bottom: -4px;
	left: 32px;
  }

  #mobile {
	display: none;
	align-items: center;
	cursor: pointer;
  }
  a {
	text-decoration: none;
  }
  li {
	list-style: none;
  }
  @media (max-width: 991.98px) {
	.section-p1 {
	  padding: 40px 40px;
	}
  
	#navbar {
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	  justify-content: flex-start;
	  position: fixed;
	  top: 0;
	  right: -300px;
	  height: 100vh;
	  width: 300px;
	  background-color: #e3e6f3;
	  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
	  padding: 80px 0 0 10px;
	  transition: 0.5s;
	  z-index: 1000;
	}
  
	#navbar.active {
	  right: 0px;
	}
  
	#navbar li {
	  margin-bottom: 25px;
	}
	#mobile {
	  display: flex;
	  align-items: center;
	}
	#mobile ion-icon {
	  color: var(--color-text3);
	  font-size: 24px;
	  padding-left: 20px;
	}
  
	#close {
	  display: block !important;
	  position: absolute;
	  top: 30px;
	  left: 30px;
	  color: var(--color-text);
	  font-size: 24px;
	}
  
	#lg-bag {
	  display: none;
	}
  
	
	#avatar {
		display: none;
	  }
	
	#hero {
	  height: 70vh;
	  padding: 0 80px;
	  background-position: top 30% right 30%;
	}
  
	

#feature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Chiều cao của màn hình */
}
  
	#feature .fe-box {
	  margin: 15px 15px;
	}
  
	#product1 .pro-container {
	  justify-content: center;
	}
  
	#product1 .pro {
	  margin: 10%;
	}
  
	#banner {
	  height: 20vh;
	}
  
	#sm-banner .banner-box {
	  min-width: 100%;
	  height: 30vh;
	}
  
	#sm-banner .banner-box2 {
	  margin-top: 40px;
	}
  
	#banner3 {
	  padding: 0 40px;
	}
  
	#banner3 .banner-box {
	  width: 28%;
	}
  
	#newsletter .form {
	  width: 70%;
	}
  
	footer .col1 {
	  max-width: 60%;
	}
  
	/* Contact Page */
	#form-details {
	  padding: 40px;
	}
  
	#form-details form {
	  width: 50%;
	}
	/* Cart Page */
  }
#hero {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
  }

  #search-container {
	display: flex;
	align-items: center;
  }

.search
{
	
	position: absolute;
	margin-left: 275px;
	top: 6px;
	color: #F29EB0;
}

  .topnegav
  {
	  position:inherit;
	  float: left;
	 
  }
  .topnegav input
  {
	  border: 3px solid #F29EB0;
	  width: 300px;
	  border-radius: 50px;
	  padding: 0px 10px;
	  height: 30px;
  }

  #product1 {
	text-align: center;
  }
  
  #product1 .pro-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
	margin-left: 8%;
	margin-right: 8%;
  }
  
  #product1 .pro {
	width: 20%;
	min-width: 250px;
	height: 420px;
	padding: 10px 12px;
	border: 1px solid var(--color-border);
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 10px;
	transition: 0.2s ease;
	position: relative;
  }
  
  #product1 .pro:hover {
	box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
  }
  
  #product1 .pro img {
	width: 80%;
	height: 60%;
	border-radius: 20px;
  }
  
  #product1 .pro .des {
	text-align: start;
	padding: 10px 0;
  }
  
  #product1 .pro .des span {
	color: #606063;
	font-size: 12px;
  }
  
  #product1 .pro .des h5 {
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
  }
  
  #product1 .pro .des ion-icon {
	font-size: 12px;
	color: rgb(243, 181, 25);
  }
  
  #product1 .pro .des h4 {
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: var(--color-hover-a);
  }
  
  #product1 .pro .cart {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: var(--color-hover-a);
	position: absolute;
	bottom: 20px;
	right: inherit;
	right: 15px;
  }
  
  #product1 .pro .cart:hover {
	border: 1px solid var(--color-border);
	background-color: #e8f6ea;
  }
 

  #feature {
	align-items: center;
	justify-content: center;
	height: 50%; /* Chiều cao của màn hình */
	position: relative; /* Đặt position relative cho #feature */
	background-color: var(--background-color-header);
  }
  
  .frame {
	position: relative;
	overflow: hidden; /* Để ẩn đi phần nào của nội dung có thể vượt ra khỏi khung */
	width: 45%; /* Đặt chiều rộng của khung */
	margin: 0 auto; /* Canh giữa khung */
	
  }

  .frame img {
	width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của khung */
	height: auto; /* Tính tỷ lệ chiều cao tự động */
  }

  .content {
	position: absolute;
	width: 100%; /* Đặt chiều rộng của .content bằng 100% */
	height: 100%; /* Đặt chiều cao của .content bằng 100% */
	top: 0;
	left: 0;
	text-align: center;

	align-items: center;
	justify-content: center;
  }
  
  .content h1{
	font-size: 40px;
	margin-top: 15%;
  }
  .content p {
	margin-top: 6%; /* Khoảng cách giữa h1 và p */

  }
  .deliver{
	display: flex;
	justify-content: space-between;
	margin-left: 18%;
	margin-right: 18%;
	height: 340px;
}
  .deliver_item {
	width: 210px;
	height: 340px;
	border: 5px solid #FBB5BF;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	padding: 22px 33px 55px;
	margin-top: 30px;
	margin-right: 20px;
	display: inline-block;
	justify-content: space-between;

  }
  .deliver_item:hover{
	box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
  }
  .deliver_content {
	margin-top: 20px; /* Khoảng cách giữa deliver_icon1 và deliver_content */
  }


  .deliver_icon{
	max-width: 100%;
  }
  .deliver_icon img{
	max-width: 100%;
	height: 140px;
	width: 100%;
  }
  .des {
	text-align: center; /* Căn giữa nội dung */
	max-width: 100%;
	margin:10%
  }
  
  .des h3 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .des p {
	font-size: 16px;
	margin-bottom: 15px;
  }
  
  .des button {
	background-color: #FBB5BF;
	color: #fff;
	padding:5%;
	border: none;
	cursor: pointer;
  }
  
  .des button:hover {
	background-color: #FF6F91;
  }
  
  #newsletter {
	display: flex;
	width: 100%vh;
	height: 100px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-color: #E06999;
  }
  
  #newsletter h4 {
	font-size: 30px;
	font-weight: 700;
	width: 100%;
	color: #fff;
	margin-left: 10%;
  }
  
  #newsletter .form {
	display: flex;
	width: 40%;
	margin-right: 2%;
  }
  
  #newsletter input {
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  #newsletter button {
	background-color: #d99cb2;
	width: 100px;
	color: #fff;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  #newsletter button:hover {
	background-color: #f26398;
	color: #fff;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  

  #pagination {
	text-align: center;
	margin: 50px;
  }
  #pagination a {
	background-color: var(--color-hover-a);
	padding: 15px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
  }
  
  #pagination a:hover {
	background-color: #ffbd27;
  }
  
  #pagination a ion-icon {
	font-size: 16px;
	font-weight: 600;
  }


  #blog {
	padding: 150px 150px 0 150px;
  }
  
  #blog .blog-box {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	padding-bottom: 90px;
  }
  
  #blog .blog-img {
	width: 50%;
	margin-right: 40px;
  }
  
  #blog img {
	width: 100%;
	height: 300px;
	object-fit: cover;
  }
  
  #blog .blog-details {
	width: 50%;
  }
  
  #blog .blog-details a {
	font-size: 12px;
	color: #000;
	font-weight: 700;
	position: relative;
	transition: 0.3s;
  }
  
  #blog .blog-details a::after {
	content: "";
	width: 50px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 4px;
	right: -60px;
  }
  
  #blog .blog-details a:hover {
	color: var(--color-hover-a);
  }
  
  #blog .blog-details a:hover::after {
	background-color: var(--color-hover-a);
  }
  
  #blog .blog-box h1 {
	position: absolute;
	top: -40px;
	left: 0;
	font-size: 70px;
	font-weight: 700;
	color: #c9cbce;
	z-index: -9;
  }

  .about-header {
	background-image: url(/images/banh.jpg) !important;
  }
  

  #page-header {
	background-image: url(/images/NEN1.png);
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
  }
  
  #page-header h2,
  #page-header p {
	color: #fff;
  }

  #about-head {
	display: flex;
	align-items: center;
	margin: 5%;
  }
  
  #about-head img {
	width: 50%;
	height: auto;
  }
  
  #about-head div {
	padding-left: 40px;
  }
  


  #contact-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  #contact-details .details {
	width: 40%;
	margin: 5%
  }
  
  #contact-details .details span,
  #form-details form span {
	font-size: 14px;
  }
  
  #contact-details .details h2,
  #form-details form h2 {
	font-size: 32px;
	line-height: 35px;
	padding: 20px 0;
  }
  
  #contact-details .details h3 {
	font-size: 20px;
	padding-bottom: 15px;
  }
  
  #contact-details .details li {
	padding: 10px 0;
  }
  
  #contact-details .details li ion-icon {
	font-size: 16px;
	padding-right: 22px;
  }
  
  #contact-details .map {
	width: 55%;
	height: 400px;
  }
  
  #contact-details .map iframe {
	width: 100%;
	height: 100%;
  }
  
  #form-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
	padding: 80px;
	border: 1px solid #c2c1c1;
  }
  
  #form-details form {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  #form-details form input,
  #form-details textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #c2c1c1;
  }
  
  #form-details form button {
	background-color: #d99cb2;
	color:white;
  }
  
  #form-details form button:hover {
	background-color: #f26398;
  }
  
  #form-details .people div {
	padding-bottom: 25px;
	display: flex;
	align-items: flex-start;
	
  }
  
  #form-details .people div img {
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin: 30px;
  }
  
  #form-details .people div p {
	margin: 0;
	font-size: 14px;
	line-height: 25px;
  }
  
  #form-details .people div p span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #000;
  }
  

  p {
	font-size: 16px;
	color: var(--color-text2);
	margin: 15px 0 20px 0;
  }
  h2 {
	font-size: 46px;
	line-height: 54px;
	color: var(--color-text);
  }


  #prodetails {
	display: flex;
	margin: 50px;
	margin-left: 25%;
  }
  
  #prodetails .single-pro-image {
	width: 230px;
	margin-right: 50px;
  }
  
  .small-img-group {
	display: flex;
	justify-content: space-between;
  }
  
  .small-img-col {
	flex-basis: 24%;
	cursor: pointer;
  }
  
  #prodetails .single-pro-details {
	width: 50%;
  }
  
  #prodetails .single-pro-details h4 {
	padding: 40px 0 20px 0;
  }
  
  #prodetails .single-pro-details h2 {
	font-size: 26px;
  }
  
  #prodetails .single-pro-details select {
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
  }
  
  #prodetails .single-pro-details input {
	width: 50px;
	height: 47px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
  }
  
  #prodetails .single-pro-details input:focus {
	outline: none;
  }
  
  #prodetails .single-pro-details button {
	background-color: var(--color-hover-a);
	color: #fff;
  }
  
  #prodetails .single-pro-details button:hover {
	background-color: #ffbd27;
  }
  
  #prodetails .single-pro-details li {
	line-height: 35px;
	list-style: inside;
  }

  .btn_up_down {
	height: 28px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #606063;
  }
  
  .btn_up_down span {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
  }
  
  .btn_up_down span.num {
	font-size: 16px;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	pointer-events: none;
  }
  

  #cart-add {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 20%;
  }
  
  

  #subtotal h3 {
	padding-bottom: 15px;
  }

  #subtotal button {
	background-color: var(--color-hover-a);
	color: #fff;
	padding: 12px 20px;
  }
  
  #subtotal button:hover {
	background-color: #ffbd27;
  }
  
  #subtotal {
	width: 50%;
	margin-bottom: 30px;
	border: 1px solid #cdcfcd;
	padding: 30px;
  }
  
  #subtotal table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
  }
  
  #subtotal table td {
	width: 50%;
	border: 1px solid #cdcfcd;
	padding: 10px;
	font-size: 14px;
  }

  

  button.normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #000;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
  }


  #close {
	display: none ;
  }
